@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@mixin section-heading {
  text-align: center;
  font-style: bolder;
}
* {
  outline: none;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  &.active {
    background: #191919;
  }
}
.logo {
  height: 55px;
}
nav ul {
  list-style-type: none;
  color: #fff;
  margin-top: 50px;
}
nav ul li {
  display: none;
  margin: 0px;
  margin-right: 20px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.25em;
  color: #fff;
  &:hover {
    text-decoration: none;
    width: 100%;
  }
}
.hamburger {
  display: block;
  margin-right: 45px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border: 5px solid blue;
}
.hamburger span {
  height: 0px;
  width: 30px;
  border-top: 3px solid white;
}
header {
  position: relative;
  top: 0px;
  left: 0px;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/99/ef/5a/99ef5af395f4d13c9c37b3d73ea2bda3.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
  height: 100vh;
  color: #fff;
}
.profile-pic {
  position: relative;
  top: 20%;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.profile-caption {
  position: relative;
  top: 25%;
  padding: 0px 45px;
  text-align: center;
  font-size: 1.5em;
  background: rgba(0,0,0,0.4);
}
.profile-caption span {
  font-weight: 700;
}
h1 {
  @include section-heading;
  text-align: center;
}
.about-caption {
  padding: 20px;
  font-size: 1.25em;
  line-height: 2;
}
.btn-circle {
  display: block;
  position: relative;
  top: 40%;
  border: 3px solid white;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  margin: 0 auto;
}
.fa-angle-double-down {
  color: #fff;
  height: 3em;
  width: 3em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}
#work {
  background: url("https://wallpaperscraft.com/image/dark_background_line_surface_65896_602x339.jpg");
  color: #fff;
  width: 100%;
  overflow: hidden;
}
h3 {
  text-align: center;
}
.showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}
.project {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
  .project img{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background: rgba(0,0,0,0.8);
}
.project:hover .overlay {
  bottom: 0;
}
.overlay {
  position: absolute;
  margin: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caption-slide {
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px 20px;
}
#contact {
  margin: 50px;
}
.contact-button {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 100px;
  background: blue;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 10px 3px rgba(0,0,0,0.2);
          box-shadow: 3px 2px 10px 3px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 1.25em;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
  }
}
.modal {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.8);
}
.modal-content {
  @include centered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  border: 1px solid black;
  padding: 25px;
  background: #fff;
}
.modal-content h3 {

}
.submit-button {
  @extend .contact-button;
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);
  margin-top: 30px;
}
footer {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/99/ef/5a/99ef5af395f4d13c9c37b3d73ea2bda3.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  overflow: hidden;
}
footer p {
  color: #fff;
  padding-top: 10px;
  text-align: center;
}
.social-media a{
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #41579c;
  }
}

@media (min-width: 526px) {
  .hamburger {
    display: none;
  }
  nav ul li {
    display: inline;
    position: relative;
    top: -35px;
    border: none;
  }
  .showcase {
    width: 50%;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  #contact h3 {
    width: 50%;
    margin: 30px auto;
  }
  .showcase {

  }
}
