@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@mixin section-heading {
  text-align: center;
  font-style: bolder;
}
* {
  outline: none;
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  -webkit-transition: background .5s ease;
  transition: background .5s linear;
  &.active {
    background: #191919;
  }
}
.logo {
  height: 55px;
}
.mobile-nav {
  height: 100%;
  width: 100%;
  display: none;
  position:fixed;
  overflow: hidden;
  background: rgba(0,0,0,0.9);
  transition: all .5s ease;
}
.nav-close {
  position: absolute;
  display: none;
  top: 15%;
  right: 20%;
  font-size: 100px;
  color: white;
}
.mobile-nav ul {
  position: relative;
  top: 25%;
  list-style-type: none;
  margin-top: 30px;
  width: 100%;
}
.mobile-nav ul li {
  display: block;
  margin: 2em auto;
}
.mobile-nav ul li a {
  text-decoration: none;
  font-size: 3em;
  color: #fff !important;
  &:hover {
    color: #818181 !important;
  }
}
.hamburger {
  display: block;
  margin-right: 45px;
  margin-top: 5px;
}
.hamburger i{
  color: #fff;
}
.big-nav {
  display: none;
}
header {
  position: relative;
  top: 0px;
  left: 0px;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/99/ef/5a/99ef5af395f4d13c9c37b3d73ea2bda3.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
  height: 100vh;
  color: #fff;
}
.profile-pic {
  position: relative;
  top: 20%;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.profile-caption {
  position: relative;
  top: 25%;
  padding: 0px 45px;
  text-align: center;
  font-size: 1.5em;
  background: rgba(0,0,0,0.4);
}
.profile-caption span {
  font-weight: 700;
}
.arrow {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  height: 5em;
  width: 5em;
  color: #fff;
  cursor: pointer;
}
.fa-arrow-circle-down {
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}
h1 {
  @include section-heading;
  text-align: center;
}
.about-caption {
  padding: 20px;
  font-size: 1.25em;
  line-height: 2;
  margin: 0 auto;
}
#work {
  background: #F0FFF0;
  color: #333;
  width: 100%;
  overflow: hidden;
}
h3 {
  text-align: center;
}
.showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}
.project {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}
.project img{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background: rgba(0,0,0,0.8);
}
.project:hover .overlay {
  bottom: 0;
}
.overlay {
  position: absolute;
  margin: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caption-slide {
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px 20px;
}
.skills {
  display: inline-block;
  margin: 0 auto;
}
.learned {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}
.learning{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}
.skills img {
  height: 75px;
  width: 30%;
  margin: 1em auto;
}
#contact {
  margin: 50px;
}
.contact-button {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 100px;
  background: blue;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 10px 3px rgba(0,0,0,0.2);
          box-shadow: 3px 2px 10px 3px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 1.25em;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
  }
}
.modal {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.8);
}
.modal-content {
  @include centered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  border: 1px solid black;
  padding: 25px;
  background: #fff;
}
.modal-close {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 100px;
  color: white;
}
.submit-button {
  @extend .contact-button;
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);
  margin-top: 30px;
}
footer {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/99/ef/5a/99ef5af395f4d13c9c37b3d73ea2bda3.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  overflow: hidden;
}
footer p {
  color: #fff;
  padding-top: 10px;
  text-align: center;
}
.social-media {
  text-align: center;
}
.social-media a{
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #41579c;
  }
}

@media (min-width: 40em) {
  .hamburger {
    display: none;
  }
  .nav-wrap{
    display: none;
  }
  .big-nav {
    display: flex;
  }
  .big-nav ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px auto;
    list-style-type: none;
    width: auto;
  }
  .big-nav ul li {
    margin-right: 2.5em;
  }
  .big-nav ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
  }
  .project {
    height: 250px;
    width: 250px;
  }
  .project img {
    height: 250px;
    width: 250px;
  }
  .learned {
    width: 50%;
  }
  .learning {
    width: 50%;
  }
}
@media (min-width: 45em) {
  .about-caption {
    width: 70%;
  }
}

@media (min-width: 50em) {
  #contact h3 {
    width: 50%;
    margin: 30px auto;
  }
  .learned img{
    width: 20%;
  }
  .learning img {
    width: 20%;
  }
}
